
<section class="content-header">
    <h4><b>

    @ViewBag.Title
</b>
    </h4>
    <ol class="breadcrumb">
        <li><a href="index"><i class="fa fa-dashboard"></i> Principal</a></li>
        <li>
            @ViewBag.Title
        </li>

    </ol>
</section>